<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.yumusoft.bettermail"
      android:versionCode="4" 
      android:versionName="1.2">
    
    <application 
    	android:name=".BetterMailApplication"
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:debuggable="false">
        
        <activity 
        	android:name="com.yumusoft.bettermail.BetterMailActivity"
			android:label="@string/app_name"
			android:configChanges="orientation">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- Registers the NotificationReceiver if needed. -->
		<receiver android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		<!-- 
		<receiver 
			android:icon="@drawable/icon" 
			android:name="com.yumusoft.bettermail.GmailNotificationReceiver" 
			android:label="@string/receiver_name" 
			android:enabled="true">

			<!- Android 2.2? ->
			<intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"
                    android:priority="-10">
                </action>
                <data 
                	android:scheme="content" 
                	android:host="gmail-ls"
                    android:pathPattern="/unread/.*">
                </data>
            </intent-filter>
			 
			<!-  Android 1.6 ->
			<intent-filter>
				<action
					android:name="android.intent.action.PROVIDER_CHANGED"
	            	android:priority="-10">
		        </action>
				<data
		         	android:mimeType="*/*"
	            	android:scheme="content"
		            android:host="gmail-ls"
	            	android:path="/unread/^i">
				</data>
			</intent-filter>
			
		</receiver>
		-->
		
		<activity 
			android:name="com.yumusoft.bettermail.BetterMailPreferences" 
			android:icon="@drawable/icon" 
			android:label="@string/pref_name">
		</activity>
		
</application>
    
    <uses-sdk android:minSdkVersion="4" />
	
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="com.google.android.gm.permission.READ_GMAIL"></uses-permission>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"></uses-permission>
    <uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 